* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  width: 100%;
}

.pregame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pregame h1 > span {
  color: rgb(104, 138, 255);
}

input {
  transform: scale(1.3);
}

.howManyGames {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.howManyGames h2 {
  margin-top: 0;
}
.howManyGames div {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

.chooseFighter {
  background-color: black;
  border: 5px solid black;
  height: 300px;
  width: 60%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 5fr);
  grid-template-areas: "a b c d e" "f g h i j";
}

.fighters {
  background-color: blue;
  background-size: cover;
  background-position: top center;
  opacity: 1;
  cursor: pointer;
}
.fighters:hover {
  opacity: 0.7;
}

.chosen {
  opacity: 0.3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chosen:hover {
  opacity: 0.3;
}

.fighterA,
.fighterB,
.fighterC,
.fighterD,
.fighterE,
.fighterF,
.fighterG,
.fighterH,
.fighterI,
.fighterJ {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.fighterA {
  grid-area: a;
  background-image: url("../assets/fighters/fighterA.jpg");
}

.fighterB {
  grid-area: b;
  background-image: url("../assets/fighters/fighterB.jpg");
}

.fighterC {
  grid-area: c;
  background-image: url("../assets/fighters/fighterC.jpg");
}

.fighterD {
  grid-area: d;
  background-image: url("../assets/fighters/fighterD.jpg");
}

.fighterE {
  grid-area: e;
  background-image: url("../assets/fighters/fighterE.jpg");
}

.fighterF {
  grid-area: f;
  background-image: url("../assets/fighters/fighterF.jpg");
}

.fighterG {
  grid-area: g;
  background-image: url("../assets/fighters/fighterG.jpg");
}

.fighterH {
  grid-area: h;
  background-image: url("../assets/fighters/fighterH.jpg");
}

.fighterI {
  grid-area: i;
  background-image: url("../assets/fighters/fighterI.jpg");
}

.fighterJ {
  grid-area: j;
  background-image: url("../assets/fighters/fighterJ.jpg");
}

.start {
  margin: 20px 0 0;
  padding: 5px 10px;
}

.fighterWrap {
  position: relative;
}

.playerNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.player1,
.player2 {
  font-size: 24px;
  font-weight: 600;
}

.player1 {
  color: green;
}

.player2 {
  color: red;
}

.game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.ticTac {
  background-color: rgba(0, 0, 0, 0.7);
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.ticTacField {
  width: 20%;
  height: 20%;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.x {
  width: 100%;
  height: 100%;
  background-image: url(../assets/wx.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.o {
  width: 100%;
  height: 100%;
  background-image: url(../assets/wo.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.results {
  height: 20%;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
}
.results .middle {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
}
.results .player1,
.results .player2 {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 4vmin;
}
.results .player1 img,
.results .player2 img {
  height: 80%;
  border: 3px solid rgba(255, 255, 255, 0.441);
  border-radius: 90px;
}
.results .player1 span,
.results .player2 span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.results .player1 .block,
.results .player2 .block {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results .player1 .point,
.results .player2 .point {
  height: 70%;
  border: 0;
  border-radius: 0;
}

.d-none {
  display: none;
}